<fury-scrollbar furyPage furyPagePadding>
  <div fxLayout="row" [fxLayoutGap]="gap">
    <div fxFlex="70" fxFlex.md="60" fxHide.lt-md fxLayout="row" [fxLayoutGap]="gap">
      <button mat-raised-button color="accent" (click)="createEmail()">Tạo chiến dịch mới</button>
    </div>
    <div fxFlex="30" fxFlex.md="40" fxFlex.lt-md="100" fxLayout="row" [fxLayoutGap]="gap">
      <div class="search-wrapper" fxFlex>
        <mat-icon class="search-icon">search</mat-icon>
        <input type="search"
               autocomplete="off"
               spellcheck="false"
               (click)="clearData()"
               (submit)="getData()"
               [formControl]="search"
               class="search-input"
               placeholder="Tìm kiếm tên chiến dịch">
      </div>
    </div>
  </div>

  <div style="margin-top: 1em; margin-bottom: 1em;" fxLayout="row" [fxLayoutGap]="gap">
    <div class="table-container" furyScrollbar fxFlex="grow">
      <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped"
             [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
        <thead>
        <tr>
          <th style="width: 10%;">#</th>
          <th style="width: 10%;">Tên chiến dịch</th>
          <th style="width: 20%; text-align: center;">Vấn đề</th>
          <th style="width: 20%; text-align: center;">Vấn đề phụ</th>
          <th style="width: 30%; text-align: center;">Ghi chú</th>
          <th style="width: 10%; text-align: center;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows; let i = index;">
          <td>{{(uploadPageIndex * uploadPageSize) + (i + 1)}}</td>
          <td>{{row.name}}</td>
          <td class="mail-password" style="text-align: center;">{{row.issue}}</td>
          <td class="recovery-email" style="text-align: center;">{{row.sub_issue}}</td>
          <td class="date-create" style="text-align: center;">{{row.note}}</td>
          <td style="text-align: center;">
            <mat-icon color="accent" style="cursor: pointer;" (click)="openEditDialog(row)">mode_edit</mat-icon>
            <!--<mat-icon color="accent" style="cursor: pointer;">edit</mat-icon>-->
            <mat-icon color="warn" style="cursor: pointer;" (click)="openDeleteDialog(row)">delete</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-paginator [length]="totals"
                     [pageSize]="uploadPageSize"
                     [pageIndex]="uploadPageIndex"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     (page)="pageSizeChange($event)"></mat-paginator>
    </div>
  </div>
</fury-scrollbar>
