<fury-scrollbar furyPage furyPagePadding>
  <div fxLayout="row" [fxLayoutGap]="gap">
    <div fxFlex="70" fxFlex.md="60" fxHide.lt-md fxLayout="row" [fxLayoutGap]="gap">
      <button mat-raised-button color="accent" (click)="createEmail()">Tạo kênh mới</button>
    </div>
    <div fxFlex="30" fxFlex.md="40" fxFlex.lt-md="100" fxLayout="row" [fxLayoutGap]="gap">
      <div class="search-wrapper" fxFlex>
        <mat-icon class="search-icon">search</mat-icon>
        <input type="search"
               autocomplete="off"
               spellcheck="false"
               (click)="clearData()"
               (submit)="getData()"
               [formControl]="search"
               class="search-input"
               placeholder="Tìm kiếm theo tên">
      </div>
    </div>
  </div>

  <div style="margin-top: 1em; margin-bottom: 1em;" fxLayout="row" [fxLayoutGap]="gap">
    <div class="table-container" furyScrollbar fxFlex="grow">
      <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped"
             [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Tên Kênh</th>
          <th style="text-align: center;">Đường dẫn</th>
          <th style="text-align: center;">Ngày tạo</th>
          <th style="width: 20%; text-align: center;">Số gậy đã cắm/gậy lỗi</th>
          <th style="text-align: center;">Trạng thái</th>
          <th style="text-align: center;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows; let i = index;">
          <td>{{(uploadPageIndex * uploadPageSize) + (i + 1)}}</td>
          <td>{{row.name}}</td>
          <td style="text-align: center;">{{row.channel}}</td>
          <td style="text-align: center;">{{row.create_date | amFromUnix | amDateFormat: 'DD-MM-YYYY HH:mm'}}</td>
          <td style="text-align: center;">{{row.count_success || 0}} / {{row.count_fail || 0}}</td>
          <td class="capitalize" style="text-align: center;">{{row.status }}</td>
          <td style="text-align: center;">
            <mat-icon color="accent" style="cursor: pointer;" (click)="openEditDialog(row)">mode_edit</mat-icon>
            <mat-icon color="warn" style="cursor: pointer;" (click)="openDeleteDialog(row)">delete</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-paginator [length]="totals"
                     [pageSize]="uploadPageSize"
                     [pageIndex]="uploadPageIndex"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     (page)="pageSizeChange($event)"></mat-paginator>
    </div>
  </div>
</fury-scrollbar>
